<!doctype html>
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1.0" /> 
	<title>{{ page.title }}</title>
	<link rel=stylesheet href=http://fonts.googleapis.com/css?family=Neuton>
	<link rel=stylesheet href="{{ site.url }}/style.css?{{ site.time | date: '%Y%m%d%H%M%S' }}">
	<link rel=canonical href="{{ site.url }}/">
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount','{{ site.ga }}'],['_trackPageview'],['_trackPageLoadTime']);
		(function(d, t) {
			var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = '//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</head>
<body>

{{ content }}
